.bottom-section{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap:20px;

    .comment-btn:hover {
        cursor: pointer;
    }
}

.top-title{
    text-align: center;
    color: black;
}

.comment-content{
    border-bottom: 1px solid rgb(211, 211, 211);
    
    .comment-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .delete-btn {
        margin-left: auto;
        }
        .delete-btn:hover {
            cursor: pointer;
        }

    }

    
}

.comment-post{
    margin-top: 10px;
}

.comment-input{
    margin-top: 10px;
}

.comment-input input{
    width: 830px;
    height: 40px;
    border: solid rgb(158, 158, 158) 1px;
}

.noComment {
    padding : 25px;
    text-align: center;
}

.content-section {
    display: flex;
    flex-direction: row;
}

.my-profile-btn {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}