/* @import "../../style.scss"; */

.navbar {
    background-color: rgba(169, 211, 195, 1);
    width: 100%;
    height: 120px;
    position: sticky;
    top:0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    letter-spacing: 5px;
}

.leftPart {
    display: flex;
    align-items: center;
    gap: 30px;
    line-height: 120px;
    margin-left: 30px;
}

.rightPart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    line-height: 120px;
    margin-right: 30px;
    gap:20px;
}

.search-section {
    position: "relative";
    display: "inline-block"
}

.rightPart input{
    width: 300px;
    height: 40px;
    border: solid 1px grey;
    border-radius: 10px; 
    color: grey;
    padding-right: 35px;
    padding-left: 10px;
    font-family: 'Inter', sans-serif;
}

.logout-btn {
    margin-top: 15px;
    cursor: pointer;
    color: grey;
}

.logout-btn:hover {
    color: black;
}

.leftPart div {
    font-weight: bold;
    font-size: 80px;
    color: white;
}

