/* @import "../../style.scss"; */

.navbar {
    background-color: rgba(169, 211, 195, 1);
    width: 100%;
    height: 120px;
    position: sticky;
    top:0;
    z-index: 999;
}

.leftPart {
    display: flex;
    align-items: center;
    gap: 30px;
    line-height: 120px;
    margin-left: 30px;
}

span {
    font-weight: bold;
    font-size: 80px;
    color: white;
}