.postContainer {
  width: 1100px;
  min-height: 500px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
  /* top: 200px; distance from top of the page */
  /* left: 200px; distance from right side of the page */
  background-color: #fff;
  border-radius: 10px; /* makes it look like a card */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* floating effect */
  padding: 20px;
  overflow-y: hidden; /*scroll if content overflows */
  z-index: 100; /* make sure it floats above other content */
}
.postElements{
  margin-left: 80px;
  width: 900px ;
}

.titleSection{
  /* margin-left: 80px; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 5px;
  border-bottom: rgb(204, 203, 203) solid 2px;
  margin-bottom: 20px;

  .title{
    font-size: 30px;
    font-weight: bold;
  }

  .tags{
    border: solid 1px rgb(235, 234, 234);
    border-radius: 12px;
    background-color: rgb(235, 234, 234);
    min-width: 120px;
    height:30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
  }

}

.locationSection {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 20px;

  .restaurantAddr{
    margin-bottom: 20px;
  }
}

.custom-slider img {
  width: 100%;          /* Scale image to fill slide */
  height: 200px;        /* Set any height you want */
  object-fit: cover;    /* Crop nicely */
  border-radius: 10px;  /* Optional */
}

/* Control spacing between slides */
.custom-slider .slick-slide {
  padding: 0 10px;      /* Horizontal spacing (left/right) */
}

.custom-slider .slick-list {
  margin: 0 -10px;      /* Negative margin to compensate */
}

/* Bigger dots */
.custom-slider .slick-dots li button:before {
  font-size: 12px;      /* default is 6px — increase here */
  color: #999;          /* dot color */
}

/* Active dot */
.custom-slider .slick-dots li.slick-active button:before {
  font-size: 12px;      /* active dot even bigger */
  color: rgb(95, 95, 95);          /* active dot color */
}

.like-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.save-btn, .like-btn{
  cursor: pointer;
}

.message {
  text-align: center;
}