.postContainer {
  width: 1100px;
  height: 400px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
  /* top: 200px; distance from top of the page */
  /* left: 200px; distance from right side of the page */
  background-color: #fff;
  border-radius: 10px; /* makes it look like a card */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* floating effect */
  padding: 20px;
  overflow-y: hidden; /*scroll if content overflows */
  z-index: 100; /* make sure it floats above other content */
}
.postElements{
  margin-left: 80px;
  width: 900px ;
}

.titleSection{
  /* margin-left: 80px; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 5px;
  border-bottom: rgb(204, 203, 203) solid 2px;
  margin-bottom: 20px;

  .title{
    font-size: 30px;
    font-weight: bold;
  }

  .tags{
    border: solid 1px rgb(235, 234, 234);
    border-radius: 10px;
    background-color: rgb(235, 234, 234);
    width: 120px;
    height:30px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

}

.locationSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}