@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.register {
  height: 100vh;
  background-color: rgba(169, 211, 195, 1);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 55%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    min-height: 700px;
    overflow: hidden;

    .left {
      position: relative;
      flex: 1;
      background:
        url("../images/loginImg.avif")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      span {
        font-size: 14px;
      }
      
      button {
        width: 300px;
        padding: 10px;
        border: none;
        background-color: white;
        color: rgba(88, 168, 139, 1);
        font-weight: bold;
        cursor: pointer;
        border-radius: 8px;
        margin-top: 45px;
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      align-items: center;

      h1 {
      color: #555;
      margin-bottom: -30px;
      margin-top: -30px;
      }
      
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        input {
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 20px 10px;
        }
        
        button {
          width: 300px;
          padding: 10px;
          border: none;
          background-color: rgba(88, 168, 139, 1);
          color: white;
          font-weight: bold;
          cursor: pointer;
          border-radius: 8px;
          margin-top: 30px;
        }
      }
    }
  }
}

.site-intro{
  background-color: rgba(255, 255, 255, 0.5);  /* White at 50% opacity */
  width: 370px;
  height: 230px;
  color:black;
  padding: 30px;
  font-family: 'Lexend', sans-serif;
  font-weight: 350;
}