.writePostContainer, .myProfileContainer {
  width: 1100px;
  min-height: 150px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
  /* position: sticky; */
  /* top:240px; */
  /* top: 200px; distance from top of the page */
  /* left: 200px; distance from right side of the page */
  background-color: #fff;
  border-radius: 10px; /* makes it look like a card */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* floating effect */
  padding: 20px;
  overflow-y: hidden; /*scroll if content overflows */
  z-index: 100; /* make sure it floats above other content */
}

/* My Profile page container */

.myProfileContainer {
  height: 450px;
  position: relative; /* Needed so the avatar is positioned relative to this */
  background: white;
  padding-top: 100px; /* create space for floating profile picture */
  border-radius: 20px;
  padding: 20px;
  overflow: visible;
}

.user-socials-wrapper{
  display: flex;
  justify-content: flex-end;
}

.user-socials {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: auto;
}
.user-socials-details{
    text-align: center;
}

.profile-picture-wrapper {
  position: absolute;
  top: -40px;      /* this lifts it above the container */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white; /* clean floating effect */
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.camera-icon {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.user-info{
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-bottom: 50px;
}

.user-info-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user-introduction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.edit-btn{
  margin-top: 30px;
}

/* .save-btn {
  margin-top: 10px;
} */

.user-info input, .user-introduction input{
  height: 30px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 8px;
}

textarea{
  border-radius: 8px;
}